<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.BPTR.base.server.GreetingServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CalculateCPTR</servlet-name>
    <servlet-class>servlets.CalculateCPTR</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>CalculateBPTR</servlet-name>
    <servlet-class>servlets.CalculateBPTR</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>AddLocation</servlet-name>
    <servlet-class>servlets.AddLocation</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Trend</servlet-name>
    <servlet-class>servlets.Trend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/cmpe_272_retire_project/greet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddLocation</servlet-name>
    <url-pattern>/AddLocation</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>CalculateBPTR</servlet-name>
    <url-pattern>/CalculateBPTR</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>Trend</servlet-name>
    <url-pattern>/Trend</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Welcome.jsp</welcome-file>
  </welcome-file-list>

</web-app>
